@bg-color: #ffffff;
@bg-color-blue: #81b3d2;
@bg-color-grey: #eeeeee;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@font-color-primary: #000000;
@font-color-secondary: #ffffff;

@font-family: "PT Sans", "Arial", sans-serif;

@advantage-item-blue: #ffffff;
@advantage-item-blue-bg: #81b3d2;
@advantage-item-grey: #000000;
@advantage-item-grey-bg: #eeeeee;
@advantage-item-grey-element: #d6d6d6;
@advantage-item-triangle: #81b3d2;
@advantage-img-bg: #ffffff;

@btn-bg: #81b3d2;
@btn-hover-bg: #669ec0;
@btn-active-bg: #5496bd;
@btn-disabled-bg: #e5e5e5;
@btn-text: #ffffff;
@btn-active-text: #88b6d1;

@socials-link-bg: #81b3d2;
@socials-link-bg-hover: #669ec0;
@socials-link-bg-active: #5496bd;

@main-nav-item-bg: #81b3d2;
@main-nav-item-hover-bg: #669ec0;
@main-nav-item-active-bg: #5496bd;
@main-nav-item-tablet: #ffffff;

@main-nav-item-border-bottom: #678fa8;
@main-nav-item-border-top: #9ac2db;

@main-nav-link: #ffffff;
@main-nav-link-active: #88b6d1;

@main-nav-link-tablet: #000000;
@main-nav-link-hover-tablet: #81b3d2;
@main-nav-link-active-tablet: #766357;
@main-nav-link-active-hover-tablet: #604e43;
@main-nav-toggle-bg: #ffffff;
@main-nav-toggle: #81b3d2;

@main-nav-item-bg: #81b3d2;
@main-nav-item-tablet: #ffffff;
