@bg-color: #ffffff;
@bg-color-blue: #81b3d2;
@bg-color-grey: #eeeeee;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@mobile-widths-only: ~"(max-width: 767px)";

@font-color-primary: #000000;
@font-color-secondary: #ffffff;
@hover-color-bg: #669ec0;
@active-color-bg: #5496bd;

@font-family: "PT Sans", "Arial", sans-serif;

@advantage-item-blue: @font-color-secondary;
@advantage-item-blue-bg: @bg-color-blue;
@advantage-item-grey: @font-color-primary;
@advantage-item-grey-bg: @bg-color-grey;
@advantage-item-grey-element: #d6d6d6;
@advantage-item-triangle: @bg-color-blue;
@advantage-img-bg: @font-color-secondary;

@btn-bg: @bg-color-blue;
@btn-hover-bg: @hover-color-bg;
@btn-active-bg: @active-color-bg;
@btn-disabled-bg: #e5e5e5;
@btn-text: @font-color-secondary;
@btn-active-text: #88b6d1;

@socials-link-bg: @bg-color-blue;
@socials-link-bg-hover: @hover-color-bg;
@socials-link-bg-active: @active-color-bg;

@main-nav-item-bg: @bg-color-blue;
@main-nav-item-hover-bg: @hover-color-bg;
@main-nav-item-active-bg: @active-color-bg;
@main-nav-item-tablet: @font-color-secondary;

@main-nav-item-border-bottom: #678fa8;
@main-nav-item-border-top: #9ac2db;

@main-nav-link: @font-color-secondary;

@main-nav-link-tablet: @font-color-primary;
@main-nav-link-hover-tablet: @bg-color-blue;
@main-nav-link-active-tablet: #cacaca;

@main-nav-active-link-tablet: #766357;
@main-nav-active-link-hover-tablet: #604e43;
@main-nav-active-link-active-tablet: #766357;
@main-nav-toggle: @bg-color-blue;

@main-nav-item-bg: @bg-color-blue;
@main-nav-item-tablet: @font-color-secondary;

@leave-review-border-bottom: #e5e5e5;

@form-group-border-bottom: #e5e5e5;
@form-group-title-element-tablet: #e5e5e5;
@input-type-text: @font-color-primary;
@input-type-text-bg: #f2f2f2;
@input-type-tel: @font-color-primary;
@input-type-tel-bg: #f2f2f2;
@input-type-email: @font-color-primary;
@input-type-email-bg: #f2f2f2;
@input-hover-bg: #e5e5e5;
@input-focus-bg: @font-color-secondary;
@input-focus-border: #e5e5e5;
@form-group-label-element: #fefefe;
@form-group-label-element-bg: #f2f2f2;
@form-group-label-element-bg-hover: #e5e5e5;
@form-group-label-element-bg-active: #d5d5d5;
@input-type-radio-element-bg: #333333;
@input-type-checkbox-element-border: #333333;
@textarea-bg: #f2f2f2;
@textarea-bg-focus: @font-color-secondary;
@textarea-placeholder: @font-color-primary;
@textarea-border-focus: #e5e5e5;
@input-type-submit: @font-color-secondary;
@input-type-submit-bg: @bg-color-blue;
@input-type-submit-bg-hover: @hover-color-bg;
@input-type-submit-active: rgba(255, 255, 255, 0.3);

@gallery-photo-border-bottom: #e5e5e5;
@gallery-photo-bg-tablet: #f2f2f2;
@gallery-photo-gray-bg-tablet: #eaeaea;
@gallery-photo-element-desktop: rgba(0, 0, 0, 0.3);
@gallery-photo-autor: #333333;
@gallery-photo-title-desktop: @font-color-secondary;
@gallery-photo-author-desktop: @font-color-secondary;
@gallery-photo-likes-desktop: @font-color-secondary;

@player-volume-slider-color: #ffffff;
@player-buttons-bg: #f2f2f2;
