.leave-review {
  padding: 0 25px;
  padding-top: 40px;
  padding-bottom: 20px;
  border: 2px solid green;
}

.leave-review__title {
  text-align: center;
}

.leave-review__text {
  text-align: center;
}

@media @tablet-widths {
  .leave-review__title {
    padding: 0 100px;
  }
}

@media @desktop-widths {
  .leave-review__title {
    padding: 0 350px;
  }
}
