.leave-review {
  min-height: 202px;
  padding: 0 20px;
  padding-top: 36px;
  border-bottom: 1px solid @leave-review-border-bottom;
}

.leave-review__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.leave-review__text {
  margin: 0;
  line-height: 24px;
  text-align: center;
}

@media @tablet-widths {
  .leave-review {
    min-height: 230px;
    margin-bottom: 25px;
    padding: 0 160px;
    padding-top: 72px;
    border-bottom: none;
  }

  .leave-review__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

@media @desktop-widths {
  .leave-review {
    min-height: 255px;
    padding: 0 380px;
    padding-top: 110px;
  }
}
