.popup {
  position: absolute;
  top: 1325px;
  padding: 40px 20px;
  text-align: center;
  background: @bg-color;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.popup--success {
  top: 1625px;
  padding: 40px 0;
  padding-bottom: 0;
}

.popup--success .popup__text {
  padding: 20px 45px;
}

.popup--hide {
  display: none;
}

.popup--show {
  display: block;
}

.popup__text {
  padding: 0 25px;
}

.popup__btn-area {
  background: @input-type-text-bg;
  padding: 20px;
}

.popup__btn {
  width: 180px;
}

.popup--success .popup__btn {
  width: 280px;
}

@media @tablet-widths {
  .popup {
    top: 1425px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
  }

  .popup--success {
    top: 1270px;
    width: 650px;
    margin-left: -325px;

  }

  .popup__text {
    padding: 20px 25px;
  }

  .popup__btn-area {
    padding: 40px 20px;
  }

  .popup__btn {
    width: 270px;
  }

  .popup--success .popup__btn {
    width: 445px;
  }
}
