.page-footer {
  display: flex;
  flex-direction: column;
  height: 243px;
  padding-top: 35px;
  padding-bottom: 15px;
}

@media @tablet-widths {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    padding: 0;
  }
}

@media @desktop-widths {
  .page-footer {
    justify-content: inherit;
  }
}
