.page-footer {
  display: flex;
  flex-direction: column;
  min-height: 243px;
  padding-top: 32px;
  padding-bottom: 15px;
}

@media @tablet-widths {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    padding: 0;
  }
}

@media @desktop-widths {
  .page-footer {
    justify-content: flex-start;
  }
}
