.gallery {
  display: flex;
  flex-direction: column;
}

@media @tablet-widths {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 18px;
  }
}

@media @desktop-widths {
  .gallery {
    padding: 0;
    padding-bottom: 18px;
  }
}
