.photo-video {
  min-height: 188px;
  padding: 23px;
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
  border-bottom: 1px solid @gallery-photo-border-bottom;
}

.photo-video__title {
  padding-bottom: 13px;
}

.photo-video__text {
  line-height: 24px;
}

@media @tablet-widths {
  .photo-video {
    padding: 25px 170px;
    padding-top: 50px;
    border-bottom: none;
  }
  .photo-video__title {
    font-size: 30px;
    padding-bottom: 5px;
  }
}

@media @desktop-widths {
  .photo-video {
    padding: 0 380px;
    padding-top: 87px;
    padding-bottom: 60px;
  }
}
