.intro {
  width: 100%;
  border: 2px solid blue;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom,
              url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: 100vw, cover;
}

.intro__img {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
