.advantage {
  display: flex;
  flex-direction: column;
}

.advantage__item {
  min-height: 188px;
  padding: 0 25px;
  padding-top: 38px;
  text-align: center;
}

.advantage__item--blue {
  color: @advantage-item-blue;
  background: @advantage-item-blue-bg;
}

.advantage__item--grey {
  min-height: 160px;
  padding-top: 27px;
  color: @advantage-item-grey;
  background: @advantage-item-grey-bg;
}

.advantage__item--grey::after {
  content: "";
  height: 1px;
  background-color: @advantage-item-grey-element;
  display: block;
  margin-top: 25px;
}

.advantage__item--grey:last-child {
  padding-bottom: 25px;
}

.advantage__item--grey:last-child::after {
  display: none;
}

.advantage__item--triangle {
  min-height: 230px;
  padding-top: 77px;
  background: @advantage-item-triangle url("../img/bg-triangle.svg") no-repeat top;
}
.advantage__title {
  margin: 0;
  margin-bottom: 10px;
}
.advantage__number {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
}
.advantage__text {
  margin: 0;
  line-height: 21px;
}

.advantage__img {
  width: 100%;
  height: 260px;
  padding: 0;
  margin: 0;
}

@media @tablet-widths {
  .advantage {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .advantage--reverse {
    flex-direction: row-reverse;
  }

  .advantage__item {
    max-width: 256px;
    min-height: 256px;
  }

  .advantage__item--blue {
    min-width: 256px;
    min-height: 256px;
    padding: 0 35px;
    padding-top: 50px;
  }

  .advantage__item--grey {
    padding: 0 40px;
    padding-top: 45px;
  }

  .advantage__item--grey::after {
    display: none;
  }

  .advantage__item--triangle {
    background: @advantage-item-triangle;
  }

  .advantage__title {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 21px;
  }

  .advantage__number {
    margin-bottom: 22px;
  }

  .advantage__img {
    height: 256px;
  }
}

@media @desktop-widths {
  .advantage__item {
    min-width: 400px;
  }

  .advantage__item--blue {
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .advantage__item--grey::after {
    display: none;
  }

  .advantage__item--triangle {
    background: @advantage-item-triangle;
  }
}
