.features {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.features__item {
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 15px;
  padding-right: 30px;
  border: 2px solid yellow;
}

.features__icon {
  float: left;
  width: 40px;
  height: 35px;
  margin-right: 10px;
}

.features__title {
  display: inline-block;
  vertical-align: top;
  line-height: 10px;
}

.features__text {
  margin-left: 50px;
}

@media @tablet-widths {
  .features {
    flex-direction: row;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features__icon {
    float: none;
    margin: 0;
  }

  .features__text {
    margin: 0;
    text-align: center;
  }
}

@media @desktop-widths {
  .features {
    flex-direction: row;
  }

  .features__item {
    display: flex;
    flex-direction: column;
  }

  .features__icon {
    float: none;
    margin: 0;
  }

  .features__text {
    margin: 0;
    text-align: center;
  }
}

