.features {
  display: flex;
  flex-direction: column;
}

.features__item {
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 20px;
}

.features__item:first-child {
  padding-top: 27px;
}

.features__item:last-child {
  padding-bottom: 38px;
}

.features__icon {
  float: left;
  width: 40px;
  height: 35px;
  margin-right: 10px;
  /*border: 1px solid red;*/
}

.features__title {
  display: inline-block;
  margin-bottom: 24px;
  vertical-align: top;
  line-height: 10px;
}

.features__text {
  margin: 0;
  margin-left: 50px;
  line-height: 21px;
}

@media @tablet-widths {
  .features {
    flex-direction: row;
  }

  .features__item:first-child {
    padding-top: 60px;
  }

  .features__item:nth-child(2) {
    order: 1;
  }

  .features__item {
    padding: 60px 45px 40px;
    padding-bottom: 60px;
    width: 400px;
    text-align: center;
  }

  .features__title {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .features__icon {
    display: block;
    margin: 0 auto 20px;
    width: auto;
    height: auto;
    float: none;
  }

  .features__item:nth-child(2) .features__icon {
    margin-bottom: 15px;
  }

  .features__text {
    margin: 0;
    text-align: center;
  }
}

@media @desktop-widths {
  .features__item {
    padding-bottom: 80px;
  }
}
