.intro-descr {
  padding: 0 25px;
  padding-top: 40px;
  padding-bottom: 30px;
  border: 2px solid blue;
}

.intro-descr__title {
  text-align: center;
}

.intro-descr__text {
  text-align: center;
}

@media @tablet-widths {
  .intro-descr__title {
    padding: 0 100px;
  }
}

@media @desktop-widths {
  .intro-descr__title {
    padding: 0 350px;
  }
}
